node_modules
/public/hot
/public/storage
/public/js/
/public/css/app*.css
#/public/logos/ Checking these into vcs as a hack so that we don't need block storage... which is gross and I hate it, buuuut....
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
app/Console/ETL/*.sql
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
map-frontend/dist/