/node_modules
/public/hot
/public/storage
/public/js/app*.js
/public/js/vendor*.js
/public/js/manifest*.js
/public/css/app*.css
/public/logos/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
app/Console/ETL/*.sql
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
