html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#app {
    min-height: 100%;
}

#login-wrapper {
    padding-top: 15px;
    padding-bottom: 100px;
}

.form-box {
    background-color: #ffffff;
    border: 1px solid #555555;
    opacity: 0.8;
    margin: 20px auto 100px auto;
    padding: 15px 15px 50px 15px;
    text-align: left;
}

.background-container {
    background: url('/images/map-lg-dim.jpg');
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    text-align: center;
    padding-top: 20px;
}

.fullscreen {
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.crew-aircraft-form {
    background-color: #fafafa;
    border: 1px solid #777777;
    padding: 10px;
    margin: 10px;
}

.dynamic-form-template {
    display: none;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.7em;
}

.freshness_notification {
    margin-top: 5px;
    margin-bottom: 0;
}
